<div class=“container”>
<%= form_for @price do |f| %>
  <div class=“form-row”>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div class=“form-row”>
    <%= f.submit "Save" %>
  </div>
<% end %>
</div>