<div class="row d-flex flex-wrap">
<% @prices.each do |price| %>
  <div class="border col-3 p-2 mx-1 text-center">
    <%= link_to price.name, price_path(price) %>
  <% if current_user.isAdmin %>
    <div class="d-block">
      <%= link_to "Edit", edit_price_path(price), class: "btn btn-warning" %>
      <%= link_to "Delete", price_path(price), method: "delete", data:{confirm: "Delete this price range?"}, class: "btn btn-danger" %>
    </div>
   <% end %>
  </div>
<% end %>
</div>
