// COLORS
$main-color: #669db3;
$secondary-color: #f18070;
$primary-orange: rgb(249, 153, 50);
$primary-green: rgb(105, 158, 68);
$red: rgb(213, 53, 44);
$light-green: rgb(174, 188, 57);
$pastel-orange: rgb(228, 171, 130);
$steel-blue: rgb(212, 227, 227);
$army-green: rgb(164, 165, 56);
$coral: rgb(236, 140, 83);
$bright-orange: rgb(243, 123, 44);
$mandarin-orange: rgb(251, 163, 51);
$navy: rgb(53, 55, 68);

@import "font-awesome";

body {
  font-family: 'Work Sans', Helvetica, sans-serif, sans-serif;
  font-size: 92%;
}

.landing-div {
  background-color: #aed9e9;
}

.intro-section {
  min-height: 70vh;
  background-color: $main-color;
  border-bottom-right-radius: 90%;
}

.devise-section {
  min-height: 90vh;
  background-color: $main-color;
  border-bottom-right-radius: 90%;
}

.input-group-text, .signup-fields input, .custom-file {
  font-size: .75rem;
}

.intro-header {
  font-weight: bold;
  color: white;
  font-size: 2.6rem;
}

.second-intro-section {
  min-height: 20vh;
  background-color: $secondary-color;
  border-top-left-radius: 90%;
}

.about-section {
  min-height: 90vh;
}

.about-header {
  color: $navy;
  font-weight: bold;
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: lowercase;
  padding-bottom: .8rem;
  margin-top: 20px;
}

.navbar {
  background-color: $main-color;
}

.navbar-brand {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 0;
}

.nav-logo {
  width: 50px;
  padding: 2px;
  border-radius: 50%;
  background-color: $steel-blue;
}

.landing-img-xs {
  width: 30px;
}

.landing-img-sm {
  width: 80px;
}

.devise-links, .devise-links a{
  color: white;
  font-size: .8rem;
}

.btn-login {
  all: unset;
}

.btn-login {
  font-weight: bold;
  color: #f6bd9d;
  transition: 200ms;
  &:hover {
    color: $secondary-color;
  }
}

.appt-card {
  width: 320px;
  min-height: 290px;
  border-top: 6px solid $navy;
}

.appt-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.time-label {
  font-size: .65rem;
  font-weight: bold;
  text-transform: uppercase;
}

.appt-time {
  font-size: .7rem;
}

.badge-location, .badge-location a {
  background-color: $pastel-orange;
  color: white;
  &:hover {
    background-color: rgba(94, 92, 92, 0.562);
    color: white;
  }
}

.badge-cuisine, .badge-cuisine a {
  background-color: $light-green;
  color: white;
  &:hover {
    background-color: rgba(94, 92, 92, 0.562);
    color: white;
  }
}

.badge-price, .badge-price a {
  background-color: $red;
  color: white;
  &:hover {
    background-color: rgba(94, 92, 92, 0.562);
    color: white;
  }
}

.time-vertical-div {
  align-self: center;
}

.profile-avatar {
  max-width: 100px;
}

.wrapper {
  margin-bottom: 8rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.copyright {
  font-size: .55rem;
  background-color: $main-color;
  padding: 5px;
  border-radius: 18px;
  color: white;
  box-shadow: 2.2px 2.2px grey;
  transition: 200ms;
}

.page-footer, .page-footer a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.copyright:hover {
  //background-color:$navy;
  color: white;
  box-shadow: 1.2px 1.2px grey;
}
